:root {
  font-size: .8rem;
  font-family: sans-serif;
  padding-bottom: 40px;
}

body {
  margin: 0;
}

* + * {
  margin-top: 4px;
  margin-right: 5px;
}

hr {
  margin: 12px 0 5px;
  padding: 0;
  border-color: #ffffffb3;
}

h1 {
  margin: 8px 0 6px;
}

h2 {
  margin: 6px 0 4px;
}

h3 {
  margin: 4px 0 2px;
}

input, select, button {
  padding: 4px;
}

input[type="text"] {
  width: 440px;
  border-color: #cfcfcf9c;
  border-width: 1px;
}

input[type="text"].addr-name {
  width: 180px;
}

pre {
  margin: 0;
  padding: 10px 0px;
  border-bottom: solid 1px #cccccc6c;
}

table th {
  text-align: left;
}

.ctrl {
  padding-left: 10px;
  padding-right: 10px;
}

.selector-ctrl {
  padding-bottom: 5px;
}

.selector-ctrl pre {
  display:inline-block;
  padding: 0px 0px;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
}

.address-ctrl {
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: #a8a8a847;
}

.warning {
  margin: 0;
  padding: 5px 0;
  color: #ca0000;
  font-weight: bold;
}

.wallet {
  width: 500px;
}

.account {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
